.container {
  background-color: white;
}

th {
  text-align: left;
  color: #888;
}

tr.data:hover {
  background-color: #eee;
}

tr.data {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.created-col {
  span {
    font-size: 0.9em;
  }
  width: 200px;
}

.delete-col {
  text-align: right;
  padding-right: 20px;
}
