<div class="flex flex-column">
  <span class="label">{{ label }}</span>
  <form class="full-width" (submit)="$event.preventDefault(); add()">
    <div aria-colcount="full-width" class="flex flex-align-center gap-md">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ placeholder }}</mat-label>
        <input
          [formControl]="inputDataControl"
          [type]="type"
          autocomplete="off"
          matInput />
        <button class="add" mat-icon-button matSuffix (click)="add()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <div *ngIf="entries.length" class="flex flex-wrap gap-sm marg-bottom-md">
    <div
      class="chip flex flex-align-center gap-xs"
      *ngFor="let entry of entries">
      <span>{{ entry }}</span>
      <button dt-default (click)="remove(entry)">
        <div class="flex flex-align-center">
          <mat-icon class="xs">close</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
