.container {
  background-color: white;
}

img.gift {
  height: 70px;
  width: 70px;
}

.dt-logo {
  span {
    font-family: "Geneva";
    letter-spacing: 2px;
  }
  img {
    height: auto;
    width: 30px;
  }
}

.pad-top-100 {
  padding-top: 100px;
}
