<div class="container flex-column full-height pad-h-lg">
  <div class="flex flex-align-end border-bottom-strong gap-2xl pad-v-lg">
    <div class="flex-column gap-sm">
      <span class="mat-headline-3">Inbox</span>
      <span class="mat-body-2 text-gray">Proposals received</span>
    </div>
    <div class="flex flex-column gap-lg filter-chips">
      <div class="flex flex-align-center gap-lg">
        <div class="tab active-tab">
          <mat-icon class="sm material-symbols-outlined">inbox</mat-icon>
          <span>All Received</span>
        </div>
        <div class="tab">
          <mat-icon class="sm material-symbols-outlined">
            notifications
          </mat-icon>
          <span>New</span>
        </div>
        <div class="tab">
          <mat-icon class="sm material-symbols-outlined">comment</mat-icon>
          <span>Mentioned</span>
        </div>
        <div class="tab">
          <mat-icon class="sm material-symbols-outlined">verified</mat-icon>
          <span>Approved</span>
        </div>
        <div class="tab">
          <mat-icon class="sm material-symbols-outlined">inventory_2</mat-icon>
          <span>Archived</span>
        </div>
      </div>
      <!-- <div class="flex flex-align-center gap-sm">
        <mat-icon class="sm material-symbols-outlined">filter_list</mat-icon>
        <span class="chip-round active-chip">new</span>
        <span class="chip-round">< 5d to review</span>
        <span class="chip-round">new replies</span>
        <span class="chip-round">mentioned</span>
      </div> -->
    </div>
  </div>
  <mat-drawer-container
    class="container full-height full-width"
    [hasBackdrop]="false">
    <mat-drawer [opened]="false" position="end" #drawer mode="side">
      <app-template-details (close)="drawer.toggle()"></app-template-details>
    </mat-drawer>
    <mat-drawer-content>
      <ng-template [ngTemplateOutlet]="mainContent"></ng-template>
    </mat-drawer-content>
  </mat-drawer-container>

  <ng-template #mainContent>
    <div class="pad-v-lg pad-top-none flex-column gap-xl">
      <div class="header flex-column gap-lg">
        <div class="flex">
          <div class="flex flex-align-center gap-xs cursor-pointer">
            <mat-icon>add</mat-icon>
            <span>Add Filter</span>
          </div>
        </div>
        <table class="full-width templates">
          <ng-template [ngTemplateOutlet]="tableHeaders"></ng-template>
          <ng-template #tableHeaders>
            <tr class="title-row">
              <th>
                <div>
                  <span class="mat-subtitle-2">Status</span>
                  <span class="hidden">-</span>
                </div>
              </th>
              <th>
                <div>
                  <span class="mat-subtitle-2">Name</span>
                  <span class="mat-caption">Identifier</span>
                </div>
              </th>
              <th>
                <div>
                  <span class="mat-subtitle-2">Triggers</span>
                  <span class="mat-caption">When</span>
                </div>
              </th>
              <th>
                <div>
                  <span class="mat-subtitle-2">Products</span>
                  <span class="mat-caption">What</span>
                </div>
              </th>
              <th class="border-right-none">
                <div>
                  <span class="mat-subtitle-2">Targets</span>
                  <span class="mat-caption">Who</span>
                </div>
              </th>
              <th>
                <div>
                  <span class="mat-subtitle-2">Cost</span>
                  <span class="mat-caption">USD/mo</span>
                </div>
              </th>
              <th>
                <div>
                  <span class="mat-subtitle-2">Owner</span>
                  <span class="mat-caption">Email</span>
                </div>
              </th>
            </tr>
          </ng-template>
          <tr *ngFor="let template of templates" class="template-list">
            <td>
              <div class="flex flex-align-center gap-xs color-red">
                <span class="sm color-red">Paused</span>
              </div>
            </td>
            <td class="name">
              <div
                class="flex flex-align-center flex-justify-space-between gap-sm">
                <div class="flex flex-align-center gap-md">
                  <span>Another name</span>
                </div>
                <div class="action-buttons flex flex-align-center gap-lg">
                  <div class="button flex flex-align-center">
                    <span>Pause</span>
                  </div>
                  <div class="button flex flex-align-center">
                    <span>Delete</span>
                  </div>
                </div>
              </div>
            </td>
            <td><span class="chip">One trigger</span></td>
            <td><span class="chip">More product</span></td>
            <td><span class="chip">Few target</span></td>
            <td>
              <div class="flex flex-align-center">
                <mat-icon class="sm">attach_money</mat-icon>
                <span>{{ "5" | currency : "" : "" }}</span>
              </div>
            </td>
            <td><span class="chip">kabuika@outlook.com</span></td>
          </tr>
        </table>
      </div>
    </div>
  </ng-template>
</div>
