<app-inbox-page>
  <div class="flex-column gap-lg pad-md">
    <div class="flex flex-align-center gap-md">
      <span>Dashboard not yet available.</span>
      <!-- <mat-icon class="xs">build</mat-icon> -->
    </div>
    <div class="flex-column gap-md links">
      <button dt-square-button (click)="navigateToMyProposals()">
        My Proposals
      </button>

      <button dt-square-button (click)="navigateToSharedWithMe()">
        Shared with me
      </button>
    </div>
  </div>
</app-inbox-page>
