<div class="container full-height flex-column">
  <div
    class="header flex flex-justify-space-between flex-align-center pad-v-md pad-h-xl">
    <div class="dt-logo flex flex-align-center gap-sm">
      <img src="../../../assets/dt-logo.jpg" />
      <span class="mat-headline-6">DocsTrail</span>
    </div>
  </div>
  <div class="full-width full-height flex flex-center gap-xl">
    <span>Something went wrong. Please try again.</span>
    <button (click)="refresh()" dt-button>Refresh</button>
  </div>
</div>
